<div class="section">
        <h6 style="text-align:center">MONDAY AVAILABILITY</h6>
        <div class="schedule">
            <table>
                <tr>
                    <td>00:00-00:30</td><td><div class="two-button"><button ng-click="updateWeekAvailability($event)" class="on">ON</button></div></td>
                </tr>
                <tr>
                    <td>00:00-00:30</td><td><div class="two-button"><button ng-click="updateWeekAvailability($event)" class="on">ON</button></div></td>
                </tr>
                <tr>
                    <td>00:00-00:30</td><td><div class="two-button"><button ng-click="updateWeekAvailability($event)" class="on">ON</button></div></td>
                </tr>
                <tr>
                    <td>00:00-00:30</td><td><div class="two-button"><button ng-click="updateWeekAvailability($event)" class="on">ON</button></div></td>
                </tr>
                <tr>
                    <td>00:00-00:30</td><td><div class="two-button"><button ng-click="updateWeekAvailability($event)" class="on">ON</button></div></td>
                </tr>
            </table>
        </div>
    </div>


</div>




<a href="#!/">
    <div class="overMenu">
        <h6 style="text-align:center">DONE</h6>
    </div>
</a>
</div>
