<div class="section">
    <h6>EARNINGS</h6>
        <div class="earnings"><p> <i class="fas fa-dollar-sign"></i> 7,443.34</p></div>
</div>

<div class="section">
    <h6>PAYOUTDATE  <small>MONDAY NOV 7, 2018</small></h6>
    <div class="two-button"><a href="#!/financial/update/paydate"><button class="on"><i class="fas fa-calendar-alt"></i> EXTEND</button></a></div>
</div>

<div class="section">
    <h6>BANK INFORMATION</h6>
    <div class="schedule">
        <table>
            <tr>
                <td>BANK NAME</td><td>Royal Bank of Canada (RBC)</td>
            </tr>
            <tr>
                <td>BANK NUMBER</td><td>003</td>
            </tr>
            <tr>
                <td>TRANSIT NUMBER</td><td>19766</td>
            </tr>
            <tr>
                <td>ACCOUNT NUMBER</td><td>118755-356789</td>
            </tr>
        </table>
    </div>
    <div class="two-button"><a href="#!/financial/update/bankinfo"><button class="on"><i class="fas fa-edit"></i> UPDATE</button></a></div>
</div>

<div class="section">
    <h6>TRANSACTION HISTORY</h6>
    <div class="schedule">
        <table class="transaction-history">
            <tr>
                <td><strong>ID</strong></td><td><strong>DATE</strong></td><td><strong>AMOUNT</strong></td>
            </tr>
            <tr>
                <td>HAJ4758</td><td>2018-10-25</td><td>400</td>
            </tr>
            <tr>
                <td>WE4356</td><td>2018-10-20</td><td>200</td>
            </tr>
            <tr>
                <td>4TH545</td><td>2018-10-17</td><td>30</td>
            </tr>
            <tr>
                <td>5455Y</td><td>2018-10-15</td><td>100</td>
            </tr>
            <tr>
                <td>S45D545Y</td><td>2018-10-10</td><td>5</td>
            </tr>
            <tr>
                <td>5S545456Y</td><td>2018-10-05</td><td>900</td>
            </tr>
        </table>
    </div>
</div>

