<div class="section" style="text-align:center;">
    <h5 style="margin-bottom:10%; margin-top:60px">BANK INFORMATION</h5>
    <small>Bank Name: RBC</small><br>
    <select>
        <option>RBC</option>
        <option>TD</option>
    </select>
    <br>
    <small>Bank Number: 3995</small><br>
    <input type="text" style="border:1px solid blue">
    <br>
    <small>Transit Number: 3995-3495</small><br>
    <input type="text" style="border:1px solid blue">
    <br>
    <small>Account Number: 3995-99988-99987</small><br>
    <input type="text" style="border:1px solid blue">
</div>

<a href="#!/financial" >
    <div class="overMenu"  >
        <h6 style="text-align:center">CONFIRM</h6>
    </div>
</a>
