<div class="section" style="text-align:center; margin-top:60px">
    <small>Street Number: 672</small><br>
    <input type="text" style="border:1px solid blue">
    <br>
    <small>Street Name: Russell</small><br>
    <input type="text" style="border:1px solid blue">
    <br>
    <small>City: Ottawa</small><br>
    <input type="text" style="border:1px solid blue">
    <br>
    <small>Province: ON</small><br>
    <input type="text" style="border:1px solid blue"><br>
    <small>Country: Canada</small><br>
    <select>
            <option>Canada</option>
            <option>United States of America</option>
    </select>
</div>

<a href="#!/profile">
    <div class="overMenu" >
        <h6 style="text-align:center">CONFIRM</h6>
    </div>
</a>