<div class="section">
    <div class="schedule">
            <table>
                <tr>
                    <td>Street Number</td><td>2338</td>
                </tr>
                <tr>
                    <td>Street Name</td><td>Russell Rd.</td>
                </tr>
                <tr>
                    <td>Postal Code</td><td>K1G 1B4</td>
                </tr>
                <tr>
                    <td>City</td><td>Ottawa</td>
                </tr>
                <tr>
                    <td>Province</td><td>ON</td>
                </tr>
                <tr>
                    <td>Country</td><td>CA</td>
                </tr>
            </table>
    </div>
    <div class="two-button"><a href="#!/profile/update/address"><button class="on"><i class="fas fa-edit"></i> UPDATE</button></a></div>
    
    <br >
    <br >
    <br >
    <br >
    <br >
    <br >
    <div class="schedule">
            <table>
                <tr>
                    <td>Full Name</td><td>Chance Abemba</td>
                </tr>
            </table>
    </div>
    <div class="two-button"><a href="#!/profile/update/name"><button class="on"><i class="fas fa-edit"></i> UPDATE</button></a></div>

    <br >
    <br >
    <br >
    <br >
    <br >
    <br >
    <div class="schedule">
            <table>
                <tr>
                    <td>Phone Number</td><td>(613)-710-7447</td>
                </tr>
            </table>
    </div>
    <div class="two-button"><button class="on"><i class="fas fa-edit"></i> UPDATE</button></div>

    <br >
    <br >
    <br >
    <br >
    <br >
    <br >
    <div class="schedule">
            <table>
                <tr>
                    <td>Email</td><td>chanceabemba@gmail.com</td>
                </tr>
            </table>
    </div>
    <div class="two-button"><button class="on"><i class="fas fa-edit"></i> UPDATE</button></div>

    <br >
    <br >
    <br >
    <br >
    <br >
    <br >
    <div class="schedule">
            <table>
                <tr>
                    <td>Password</td><td>**************</td>
                </tr>
            </table>
    </div>
    <div class="two-button"><button class="on"><i class="fas fa-edit"></i> UPDATE</button></div>

    <br >
    <br >
    <br >
    <br >
    <br >
    <br >
    <h6 style="text-align:center">DRIVING PROOF <small>completed</small></h6>
    <div class="two-button"><button class="on"><i class="fas fa-edit"></i> UPDATE</button></div>
    <br >
    <br >
    <br >
    <br >
    <br >
    <br >
    <div class="two-button"><button class="off"><i class="fas fa-edit"></i> LOGOUT</button></div>

    
</div>