<div class="section" style="padding-left:10px;padding-right:10px">
    <h3>Deliver to Customer</h3>
    <small>CHANCE ABEMBA</small>
    <div style="border: 1px solid black; padding-left: 10px">
        <p>2338 RUSSELL RD <br> OTTAWA, ON K1G 1B4  </p>
        <blockquote>Call before you come in the house - Chance</blockquote>
    </div>
    <br ><br ><br >
    <div style="text-align:center">
        <h5>YOUR CURRENT STATUS</h5> 
        <small>VIEWING</small>
        <br ><br >
        </div>
</div>

<a ng-click="updateDeliveryStatus()" href="">
    <div class="overMenu" style="background-color:orange">
        <h6 style="text-align:center">START MOVING</h6>
    </div>
</a>
